* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eef;
  font-family: Arial, sans-serif;
}

.header-container {
  padding: 30px 50px;
}

.nav-container {
  position: absolute;
  right: 10px;
  top: 20px;
  margin: 10px 30px;
}

.score-container {
  display: flex;
  justify-content: flex-end;
  transform: scale(1.2);
}

.score-container p {
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 2px 2px 12px #bbb;
}

.welcome-container,
.quiz-container {
  width: 500px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 2px 2px 12px #bbb;
  display: flex;
  flex-direction: column;
  transform: scale(1.3);
}

.welcome-container select,.welcome-container input{
  min-width: 100%;
  min-height: 30px;
}

.welcome-container option {
  font-size: 20px;
}

/* Loading animation */
.loader {
 position: relative;
 width: 2.5em;
 height: 2.5em;
 transform: rotate(165deg);
}

.loading-screen h3 {
  position: absolute;
  top:40%;
  left: 45%;

}

.loader:before, .loader:after{
 content: "";
 position: absolute;
 top: 50%;
 left: 50%;
 display: block;
 width: 0.5em;
 height: 0.5em;
 border-radius: 0.25em;
 transform: translate(-50%, -50%);
}

.loader:before {
 animation: before8 2s infinite;
}

.loader:after {
 animation: after6 2s infinite;
}

@keyframes before8 {
 0% {
  width: 0.5em;
  box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
 }

 35% {
  width: 2.5em;
  box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
 }

 70% {
  width: 0.5em;
  box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
 }

 100% {
  box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
 }
}

@keyframes after6 {
 0% {
  height: 0.5em;
  box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
 }

 35% {
  height: 2.5em;
  box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
 }

 70% {
  height: 0.5em;
  box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
 }

 100% {
  box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
 }
}

.loader {
 position: absolute;
 top: calc(50% - 1.25em);
 left: calc(50% - 1.25em);
}

.quiz-container {
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-container label {
  font-weight: bold;
}

.form-container button {
  align-self: center;
}

h1 {
  text-align: center;
  color: #333;
}

.question-container {
  margin: 20px 10px;
}

.question-container div {
  display: inline;
  font-size: 20px;
}

#current {
  background-color: lightseagreen;
  border-radius: 20%;
  padding: 5px;
}

#options {
  align-self: flex-start;
  margin: 0px 0px 20px 20px;
}

button {
  padding: 10px 20px;
  background: #4f98c2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0c83c8;
}

.hidden {
  display: none;
}

.quiz-restart-container {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
}

.reset-button {
  background-color: lightcoral;
  cursor: pointer;
}

.reset-button:hover {
  background-color: rgb(239, 50, 50);
}