* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eef;
  font-family: Arial, sans-serif;
}

.header-container {
  padding: 30px 50px;
}

.nav-container {
  position: absolute;
  right: 10px;
  top: 20px;
  margin: 10px 30px;
}

.score-container {
  display: flex;
  justify-content: flex-end;
  transform: scale(1.2);
}

.score-container p {
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 2px 2px 12px #bbb;
}

.welcome-container,
.quiz-container {
  width: 500px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 2px 2px 12px #bbb;
  display: flex;
  flex-direction: column;
  transform: scale(1.3);
}

.quiz-container {
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-container label {
  font-weight: bold;
}

.form-container button {
  align-self: center;
}

h1 {
  text-align: center;
  color: #333;
}

.question-container {
  margin: 20px 10px;
}

.question-container div {
  display: inline;
  font-size: 20px;
}

#current {
  background-color: lightseagreen;
  border-radius: 20%;
  padding: 5px;
}

#options {
  align-self: flex-start;
  margin: 0px 0px 20px 20px;
}

button {
  padding: 10px 20px;
  background: #4f98c2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0c83c8;
}

.hidden {
  display: none;
}

.quiz-restart-container {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
}

.reset-button {
  background-color: lightcoral;
  cursor: pointer;
}

.reset-button:hover {
  background-color: rgb(239, 50, 50);
}